<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d - %-26.26c{1} [%t] - %m\n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="CONSOLE"/>
        </Root>
        <Logger name="com.vrm" level="debug" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
    </Loggers>
</Configuration>